<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Prova Fulllab</title>
</head>
<body>
	<h1>from: '<%= $from.to_s %>'; to: '<%= $to %>'; order: '<%= $order %>'.</h1>
</body>
</html>