/* -----------------------------
----- General
----------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	background: #00adef;
}
* {
	box-sizing: border-box;
}

/* -----------------------------
----- Navbar
----------------------------- */
header.navbar {
	height: 110px;
	border: none;
	background: #fff;
	margin: 0;
	border-radius: 0;
}
header.navbar img {
	margin: 3px 0 0 8px;
}
header.navbar .nav {
	margin-right: 0;
}
header.navbar .nav a {
	background: #00adef;
	color: #fff;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -1px;
}
header.navbar .nav a:hover {
	background: #00a2e0;
	color: #fff;
}
header.navbar .nav a:active {
	background: #00b9ff;
}
header.navbar .nav li:first-child a {
	margin-right: 10px;
}

/* -----------------------------
----- Sidebar
----------------------------- */
#sidebar {
	width: 147px;
	background: #00adef;
	text-align: center;
	float: left;
	cursor: pointer;
}
#sidebar ul {
	margin: 13px 0;
}
#sidebar li {
	padding: 12px 0;
}
#sidebar li:hover {
	background: #00a2e0;
}
#sidebar li:active {
	background: #00b9ff;
}
#sidebar p {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 2px #fff;
	margin-top: 2px;
}

/* -----------------------------
----- Content
----------------------------- */
#content {
	width: calc(100% - 147px);
	float: left;
}

/* -----------------------------
----- Content Header
----------------------------- */
#content header {
	background: #4194d8;
	padding: 21px 0 22px;
	border-bottom: #eee 1px solid;
}
#content header h2, #content header p {
	font-weight: 700;
	color: #fff;
	letter-spacing: -1px;
}
#content header h2 {
	font-size: 30px;
	text-shadow: 0 0 2px #fff;
}
#content header p {
	margin-top: 15px;
	font-size: 14px;
	text-shadow: 0 0 1px #fff;
}

/* -----------------------------
----- Content Article
----------------------------- */
#content article {
	background: #fff;
	padding: 10px 15px;
}
#content article > h3 {
	font-size: 18px;
	color: #333;
	font-weight: 400;
}
#content article form label {
	font-size: 14px;
	font-weight: 700;
	margin: 15px 0 8px;
}
#content article form input, #content article form select {
	width: 100%;
	border: #ccc 1px solid;
	background: #fff;
	font-size: 14px;
	color: #333;
	padding: 6px 12px 7px;
	box-shadow: inset 0px 0px 0px 1px #f1f1f1;
}
#content article form select {
	border-radius: 5px;
}

/* -----------------------------
----- Results
----------------------------- */
#results {
	margin-top: 10px;
}
#results h3 {
	font-size: 14px;
}
#results > .row > div {
	padding: 15px 15px 0;
}
#results .ticket {
	border: #ccc 1px solid;
	text-align: center;
	color: #323232;
	max-width: 270px;
	margin: 0 auto;
}
#results .ticket .pad {
	padding: 8px;
}
#results .ticket h4 {
	background: #0069ba;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}
#results .ticket h4, #results .ticket p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
}
#results .ticket .from_to {
	margin-top: 12px;
	font-size: 15px;
}
#results .ticket .date {
	margin-top: 5px;
	font-size: 15px;
}
#results .ticket .company {
	margin-top: 4px;
	font-size: 13px;
	text-transform: uppercase;
}
#results .ticket .text {
	margin-top: 4px;
	font-size: 12px;
}
#results .ticket .text.first {
	margin-top: 27px;
}
#results .ticket .price_label {
	margin-top: 4px;
	font-size: 15px;
}
#results .ticket .price {
	margin-top: 3px;
	background: #f9d523;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
}
#results .ticket a {
	margin-top: 5px;
	display: block;
	color: #0072cb;
	font-size: 15px;
}
#results .ticket a.first {
	margin-top: 2px;
}
#results .ticket .row > div {
	padding: 13px 11px 12px;
	width: auto;
}

/* -----------------------------
----- Footer
----------------------------- */
footer.navbar {
	clear: both;
	height: 133px;
	background: #fafafa;
	border: none;
	margin: 0;
	border-radius: 0;
}
footer.navbar .navbar-header {
	position: absolute;
}
footer.navbar img {
	margin: 14px 0 0 47px;
}
footer.navbar .nav {
	width: 100%;
}
footer.navbar .nav ul {
	margin-top: 21px;
}
footer.navbar .nav > li {
	float: right;
}
footer.navbar .nav li li {
	color: #aea8a5;
	font-size: 11px;
	margin-top: 8px;
	cursor: pointer;
}
footer.navbar .nav li li:hover {
	color: #807b79;
}
footer.navbar .nav li li:first-child {
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 18px;
}